// Poppins Light
@font-face {
	font-family: 'Poppins_Light';
	src: url('../fonts/Poppins-Light.ttf') format('truetype');
}

// Poppins Regular
@font-face {
	font-family: 'Poppins_Regular';
	src: url('../fonts/Poppins-Regular.ttf') format('truetype');
}

// Poppins SemiBold
@font-face {
	font-family: 'Poppins_SemiBold';
	src: url('../fonts/Poppins-SemiBold.ttf') format('truetype');
}