// Poppins Regular
.poppins_regular_base {
    font-family: 'Poppins_Regular';
    color: #000;
}

.regular_10 {
    @extend .poppins_regular_base;
    font-size: 10px;
}

.regular_11 {
    @extend .poppins_regular_base;
    font-size: 11px;
}

.regular_12 {
    @extend .poppins_regular_base;
    font-size: 12px;
}